body{
    background-color: rgb(31, 31, 31);
    color: white;
    margin: 0;
    height: 100dvh;
}

*{
    font-family: monospace !important;
}

h1{
    text-align: center;
    font-size: 5rem;
}

h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    height: 100%;
}

#ratingPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.starContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}
.star{
    font-size: 70px;
    color: gray;
    cursor: pointer;
}
.star.previewed{
    color: lightgray;
}
.star.rated{
    color: gold;
}

#starBackgroundContainer{
    position: absolute;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    pointer-events: none;
    z-index: -1;
}

.starBackground {
	font-size: 70px;
	color: gray;
	margin-left: 0px;
}

.starBackground.previwed{
    color: lightgray;
}
.starBackground.rated{
    color: gold;
}

.star, .starBackground{
    user-select: none;
    -webkit-user-select: none;
}

#registerModalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

#registerModal{
    background-color: rgb(50, 50, 50);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
}


#sidePanels{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.modalButtons{
    display: flex;
    gap: 1rem;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.notificationContainer{
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 50%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.notification{
    background-color: rgb(50, 50, 50);
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 5px;
}


#statsPanel, #loginPanel, #registerPanel, #loggedInPanel{
    padding: 1rem;
    border: 1px solid white;
    width: 20rem;
    background-color: rgb(40, 40, 40);
    flex-direction: column;
    gap: 1rem;
    pointer-events: auto;
}

#registerPanel, #loggedInPanel{
    display: none;
}

.panelChangeButton{
    color: darkorange;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#loginPanel input, #registerPanel input{
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: none;
    background-color: gray;
}

#statsContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}


@media (max-width: 1400px) {
    #sidePanels{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-height: 700px) {
    #sidePanels{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #statsPanel, #loginPanel, #registerPanel, #loggedInPanel{
        width: 12rem;
    }

    h1{
        font-size: 3rem;
    }
}